{% extends "base.html" %}

{% block content %}
  {% load staticfiles %}
  <h1>{{ room.label }}</h1>
  <p class="quiet">
    Anyone with this URL can join the room and chat: 
    <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code> 
  </p>
  <p>
    <label for="handle">Your name:</label>
    
  </p>
  <form id="chatform">
    <table id="chat">
      <tbody>
        {% for message in messages %}
          <tr>
            
            <td>{{ message.user_id }}</td>
            <td>{{ message.opening_price }}</td>
            <td>{{ message.amount_assets }}</td>
            <td>{{ message.asset_id }}</td>
            <td>{{ message.operation_status }}</td>
            <td>{{ message.operation_type }}</td>
          </tr> 
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>Say something:</td>
        <td colspan=2>
          <input id="user" type="text" placeholder="user">
          <input id="price" type="text" placeholder="price">
          <input id="amount" type="text" placeholder="amount">
          <input id="asset" type="text" placeholder="asset">
          <input id="operation_status" type="text" placeholder="operation_status">
          <input id="operation_type" type="text" placeholder="operation_type">
          <button type="submit" id="go">Say it</button>
        </td>
      </tfoot>
    </table>
  </form>
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}